/* About */

.about {
    width: 100%;
    height: 100vh;
    background-color: #242333;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.about-wrapper {
    width: 85%;
    max-width: 2000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 72px;
}

.about-left {
    width: 65%;
    max-width: 1300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 6%;
    z-index: 3;
}

.about-right {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.about-text {
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


.about-text h1 {
    font-size: 160px;
    color: white;
    margin-bottom: 5%;
    text-shadow: -11px -5px 5px #0000007a;
}

.about-text p {
    color: black;
    font-size: 30px;
    margin-bottom: 20px;
    line-height: 1.5;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    border: 1px solid #6c6c6c;
    box-shadow: -11px 7px 16px #0000007a;

}




.about-img {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}


.about-img img {
    position: relative;
    width: 100%;
    max-width: 685px;
    display: block;
    box-shadow: 0px 0px 185px #01b0d3;
    border: 1px solid #6c6c6c;
    border-radius: 12px;
    opacity: 1;
    transition: all 0.25s ease-in-out;
    filter: brightness(1.4);
}



.mobile-about-img {
    position: absolute;
    width: 110px;
    top: 17%;
    right: 10%;
    z-index: 5;
    display: block;
    box-shadow: 10px 10px 5px #01b0d3;
    border-radius: 20px;
    opacity: 0;
}

.light-btn-about {
    text-decoration: none;
    color: black;
    border-radius: 10px;
    border: 1px solid #6c6c6c;
    width: 100%;
    /* max-width: 325px; */
    height: 60px;
    background-color: white;
    box-sizing: border-box;
    font-size: 31px;
    transition: all 0.25s ease-in-out;
    box-shadow: -10px 8px 5px #0000007a;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.light-btn-about:hover {
    color: white;
    background-color: #01B0D3;
}

.space-filler {
    background-color: red;
    width: 100%;
    top: 0;
    bottom: 0;
}


/* Layout Breakpoints */

@media screen and (max-width: 990px) {
    .about {
        align-items: flex-start;
        overflow: auto;
        padding-bottom: 10%;
    }


    .about-right {
        display: none;
    }

    .about-left {
        width: 100%;
        /* margin-top: 12%; */
        /* height: calc(100vh - 70px); */
        padding-top: 8%;
        padding-right: 0;
        justify-content: flex-start;
    }

}

/* @media screen and (max-height: 830px) and (max-width: 990px) {
    .about {
        height: unset;
    }

    .about-wrapper {
        padding-bottom: 60px;
    }

} */
/* 
@media screen and (min-height: 780px) and (max-width: 990px) {
    .about {
        height: 100vh;
    }

} */

@media screen and (max-width: 500px) {
    .about-left {
        padding-top: 12%;
    }

    .light-btn-about {
        box-shadow: -10px 8px 5px #0000007a;
    }

}



/* Text breakpoints */

@media screen and (max-width: 2300px) {
    .about-text h1 {
        font-size: 145px;
    }

    .about-text p {
        font-size: 30px;
    }
    .light-btn-about {
        font-size: 28px;
    }
    
  }

  @media screen and (max-width: 1920px) {
    .about-text p {
        font-size: 23px;
    }
    
  }

  @media screen and (max-width: 1727px) {
    .about-text h1 {
        font-size: 130px;
    }

    .light-btn-about {
        font-size: 26px;
        /* max-width: 280px; */
    }

    .about-text p {
        font-size: 18px;
    }
    

    

  }


@media screen and (max-width: 1600px) {
    .about-text h1 {
        font-size: 110px;
    }

    
    
  }

  @media screen and (max-width: 1549px) {
    .light-btn-about {
        font-size: 22px;
    }
    
  }



@media screen and (max-width: 1440px) {
    .about-text h1 {
        font-size: 95px;
    }

    .about-text p {
        font-size: 18px;
    }
  
  }


  @media screen and (max-width: 1330px) {

    .about-text p {
        font-size: 16px;
    }
  
  }

  @media screen and (max-width: 1280px) {

    .about-text p {
        font-size: 16px;
    }
    
  }

  @media screen and (max-width: 1190px) {
    .light-btn-about {
        height: 45px;
    }

    .about-text p {
        font-size: 14px;
    }
    
    
  }

  @media screen and (max-width: 1131px) {
    .about-text h1 {
        font-size: 80px;
    }


    .light-btn-about {
        font-size: 20px;
        /* max-width: 215px; */
    }
    
  }

  @media screen and (max-width: 990px) {
      .about-text h1 {
          font-size: 115px;
      }
  
      .about-text p {
          font-size: 22px;
      }

      .light-btn-about {
        font-size: 23px;
        /* max-width: 280px; */
    }


}

@media screen and (max-width: 840px) {
      .about-text h1 {
          font-size: 100px;
      }
  
      .about-text p {
          font-size: 19px;
      }
}

@media screen and (max-width: 731px) {
      .about-text h1 {
        font-size: 86px;
        line-height: 1;
      }
  
      .about-text p {
          font-size: 17px;
      }
}

@media screen and (max-width: 560px) {
    .about-text h1 {
        font-size: 75px;
        line-height: 1;
      }

      .about-text p {
          font-size: 15px;
      }
}

@media screen and (max-width: 500px) {
    .light-btn-about {
        max-width: unset;
        margin: 0 0 15px 0;
    }

}

@media screen and (max-width: 480px) {
      .about-text h1 {
        font-size: 60px;
        line-height: 1;
      }
  
      .about-text p {
          font-size: 16px;
      }
}

@media screen and (max-width: 400px) {
    .about-text p {
        font-size: 15px;
    }
}

@media screen and (max-width: 364px) {
      .about-text h1 {
        font-size: 58px;
        line-height: 1;
      }

}

@media screen and (max-width: 335px) {
      .about-text h1 {
        font-size: 55px;
        line-height: 1;
      }
  
}